<!DOCTYPE html>
<html>
<head>
  <title>AuctionApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <% if current_user %>
      <%= link_to "Log Out", logout_path, class: "btn btn-default navbar-btn navbar-right" %>
      <p class="navbar-text"><%= "#{current_user.name}" %></p>
    <% else %>
      <%= link_to "Register", new_user_path, class: "btn btn-default navbar-btn navbar-right" %>
      <%= link_to "Log In", login_path, class: "btn btn-default navbar-btn navbar-right" %>
    <% end %>
    <ul class="nav navbar-nav">
      <li><%= link_to "All Auctions", auctions_path %></li>
      <li><%= link_to "New Auction", new_auction_path %></li>
    </ul>
  </div>
</nav>
<div class="container">
  <% if flash[:error] -%>
  <p class='error alert alert-danger'><%=h flash[:error] %></p>
  <% end -%>
  <% if flash[:notice] -%>
    <p class='notice alert alert-success'><%=h flash[:notice] %></p>
  <% end -%>

  <%= yield %>
</div>

</body>
</html>
